<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Todos</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="container">
    <h1>My Todos</h1>
    <div id="todo-list"></div>
    <form id="todo-form">
      <input type="text" name="title" placeholder="Todo Title" required />
      <input type="text" name="description" placeholder="Description" />
      <button type="submit">Add Todo</button>
    </form>
  </div>
  <script>
    // You can call your GraphQL API using fetch or Apollo Client here
  </script>
</body>
</html>
